
.dragons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.dragon-card {
  align-items: center;
  box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.6);
  display: flex;
  height: 370px;
  justify-content: center;
  margin: 15px;
  width: 250px;
}

.form-group {
  margin: 10px;
}

input {
  max-width: 150px;
}

h1 {
  color: #4d4b4b;
  text-align: center;
}